html {
    background: url(../images/group-of-friends.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
}

.info-msg{
    position: fixed;
    top: 56%;
    left: 44%;
    font-size: 20px;
    border-radius: 20px;
    background-color: lightblue;
}

.footer {
    position: fixed;
    top:96%;
    width: 100%;
    height: 4%;
    background-color: black;
    font-size: 15px;
  }

.logo{
    position: fixed;
    right: 50%;
    height: 200px;
    width: 400px;
}

#github{
    font-size: 1.5em;
    padding-right: 10px;
}

.chosen-select{
    width: 50%;
}